
body {
margin: 0;
font-family: 'Prompt', sans-serif;
line-height: 1.6;
background-image: url("bg2.jpg");
background-position: center;
background-size: contain; 
}

.navbar {
background-color: #333;
color: #fff;
padding: 10px 0;
position: sticky;
top: 0;
width: 100%;
z-index: 1000;
}

.container {
width: 90%;
max-width: 1200px;
margin: auto;
overflow: hidden;
}

.nav-menu {
list-style: none;
display: flex;
justify-content: flex-end;
}

.nav-menu li {
margin-left: 20px;
}

.nav-menu li a {
color: #fff;
text-decoration: none;
}

.header {
background: url('/blackgroud.jpg') no-repeat center center/cover;
color: #fff;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

.intro {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-top: 20px;
}
& .slide-ext {
    border: 1px solid rgb(192, 33, 33);
 }
.intro h2 {
font-size: 40px;
}

.intro p {
font-size: 1.2rem;
}

.btn {
display: inline-block;
background-color: #333;
color: #fff;
padding: 10px 20px;
margin-top: 20px;
text-decoration: none;
border-radius: 5px;
}

.section {
padding: 60px 0;
}

.skills, .experience-item, .education-item, .project-item {
margin-bottom: 30px;
}

.progress {
background-color: #ddd;
height: 20px;
width: 100%;
border-radius: 5px;
}

.progress-bar {
background-color: #333;
height: 100%;
border-radius: 5px;

}

.circle {
border-radius: 100%;
}

